.card-container {
    display: flex;
    margin-left: 37%;
    padding: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .card {
    background-color: #fafafa;
  
    width: 550px;
    height: 620px;
    border-radius: 50px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .card input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .card-linkred {
    margin-left: 49%;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: #f6d607;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100px;
    margin-top: -80px; /* ปรับค่าตามต้องการ */
    margin-bottom: -120px; /* ปรับค่าตามต้องการ */
    transition: background-color 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.card-linkgreen {
    margin-left: 57%;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: #34ca0a;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100px;
    margin-top: 74.5px; /* ปรับค่าตามต้องการ */
    margin-bottom: -120px; /* ปรับค่าตามต้องการ */
    transition: background-color 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 9999;
}



.card-linkgreen:hover {
    background-color: #10f600;
  }
  
  .card-linkred:hover {
    background-color: #cca818;
  }
  