body {
  background: -webkit-linear-gradient(left, #FFEBCD, #E6E6FA);
}
.card-container {
    display: flex;
    margin-left: 23%;
    gap: 8%;
    padding: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .card {
    background-color: #fafafa;
    padding: 20px;
    width: 450px;
    height: 430px;
    border-radius: 30px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

  }
  
  .card h2 {

    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .card p {
    font-size: 16px;
    color: #333333;
  }
  
  .card-linkgreen {
    text-decoration: none;
    display: block;
    background-color: #2bd63c;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px; 
    margin-top: 25px;
    transition: background-color 0.3s ease;
  }

  .card-linkred {
    text-decoration: none;
    display: block;
    background-color: #ff8400;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 25px;
    transition: background-color 0.3s ease;
  }
  
  .card-linkgreen:hover {
    background-color: #025aff;
  }

  .card-linkred:hover {
    background-color: #025aff;
  }



  .card-image {
    width: 100%;
    height: 200px; /* ปรับความสูงตามที่คุณต้องการ */
    border-radius: 20%;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .card-container {
      margin-left: 10%;
      margin-top: -350px;
    }
  }
  
  @media (max-width: 480px) {
    .card-container {
      margin-left: 5%;
      margin-top: -250px;
    }
  }

  