table {
  width: calc(100% - 100px);
  margin: 50px auto;
  border-collapse: separate;
  border-spacing: 0 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px #888888;
  background-color: #ffffff;
}

th,
td {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

thead {
  background-color: #f2f2f2;
}

th {
  font-weight: bold;
}

.button,
.button1 {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}

.button:hover,
.button1:hover {
  background-color: #45a049;
}

.popup-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 2px;
}

.modal-header {
  background-color: #007bff;
  color: #fff;
}

.modal-title {
  color: #fff;
}

/* เพิ่มส่วนนี้เพื่อให้คอลัมสุดท้ายแสดงชิดขอบขวา */
th:last-child,
td:last-child {
  text-align: left;
}

.status-cell {
  padding: 1px;
  text-align: center;
  border-radius: 0px;
}

.status-pending {
  background-color: rgb(118, 118, 116);
  color: white;
}

.status-in-progress {
  background-color: orange;
  color: white;
}

.status-completed {
  background-color: green;
  color: white;
}

.status-awaiting-equipment {
  background-color: blue;
  color: white;
}