body {
  background-image: url('/project/Images/loginBlackground/1.png');
  background-size: cover;
  background-position: center center;
  background-attachment:fixed;
}


.form-control {
  min-height: 55px;
  background: #f2f2f2;
  box-shadow: none !important;
  border: transparent;
}

.form-control:focus {
  background: #e2e2e2;
}

.form-control, .btn {        
  border-radius: 2px;
}

.login-form {
  width: 400px;
  margin: 130px auto;
  text-align: center;
  z-index: 1;
}

.login-form h2 {
  margin: 10px 0 25px;
}

.login-form form {
  color: #000000;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;

  }
  
  


.login-form .btn {        
  font-size: 16px;
  font-weight: bold;
  background: #3598dc;
  border: none;
  outline: none !important;
}

.login-form .btn:hover, .login-form .btn:focus {
  background: #2389cd;
}

.login-form a {
  color: #fff;
  text-decoration: underline;
}

.login-form a:hover {
  text-decoration: none;
}

.login-form form a {
  color: #7a7a7a;
  text-decoration: none;
}

.login-form form a:hover {
  text-decoration: underline;
}

/* เพิ่มลูกเล่นเข้าไปในโค้ด CSS นี้ */

.login-form form {
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
