.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a,
.pagination span {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
}

.pagination a:hover {
  background-color: #f2f2f2;
}

.pagination span {
  background-color: #007bff;
  color: #fff;
}

.modal-header {
  background-color: #007bff;
  color: #fff;
}

